*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio do style da janela de inicio */
.conteiner{
    border: solid gray;
    background-color: white;
    border-radius: 20px;
    width: 22rem;
    text-align: center;
    
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
}

.conteiner button.inico{
    padding: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: solid gray;
    border-radius: 20px;
}


button:active{
    border: solid blue;
}
/* fim do style da janela de inicio */

/* 2 janela add tarefa */

.conteiner-adicionar-tarefa{
    display: none;
    flex-flow: column nowrap;
    background-color: white;
    border: solid gray;
    border-radius: 20px;
    
    margin: auto;
    margin-top: 5rem;
    width: 20rem;
}

h1.titulo-addTarefa{
    margin-top: 1rem;
    margin-left: 1rem;
}

#adicionar-tarefa{
    width: 90%;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border: solid gray;
    border-radius: 20px;
}

.butao-2janela{
    border: solid gray;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.conteiner-2janela{
    width: 200px;
    margin-left: 5rem;
    margin-top: 2rem;
}

h2{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: solid gray;
    border-radius: 10px;
    visibility: hidden;

}

/* fim do style da 2 janela */

/* inico style 3 janela */

.conteiner-3janela{
    display: none;
    flex-flow: column nowrap;
    border: solid gray;
    border-radius: 20px;
    min-height: 30rem;
    width: 20rem;
    margin: auto;
    margin-top: 5rem;
    background-color: white;
    position: relative;
}

h1.titulo-tarefas{
    margin-left: 1rem;
    margin-top: 1rem;
}

.butao-janela3{
    border: solid gray;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;

    position: absolute;
    right: 2rem;
    top: 1rem;
}

h3{ 
    margin-left: 1rem;
    margin-top: 1rem;
    border: solid gray;
    border-radius: 20px;
    
    width: 80%;
    padding: 10px;
    overflow-wrap:break-word;
}

/* fim do style da 3 janela */

/* inico style janela 4 */

.conteiner-remover-tarefa{
    display: none;
    flex-flow: column nowrap;
    border: solid gray;
    border-radius: 20px;
    min-height: 30rem;
    width: 20rem;
    margin: auto;
    margin-top: 5rem;
    background-color: white;
    position: relative;
}

.conteiner-remover-tarefa button{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.conteiner-remover-tarefa button.voltar-para-inicio4janela{
    border: solid gray;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
}

img{
    width: 2rem;
}

.div-organizar-removertarefa{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.ciclkremover{
    border: solid blue;
}

/* fim do style da janela 4 */
body{
    background: linear-gradient(
    90deg,
    #111827 50%,
    #1F2937 80%
    );
}